<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.siy.protal.persistence.CardMapper">

    <insert id="insertNumber" parameterType="string">
        insert into card 
        (number,
         CREATE_TIME
         )
        VALUES 
        (
        #{s},
        now()
        )
    </insert>
    
    <update id="insertName">
        update  card 
        set card_name = #{name},
        update_time = now()
        where id = #{id}
    </update>
    

</mapper>